# Ignore the swap files.
*.swp

# Ignore the object files.
*.o

# Ignore the library files.
*.a
*.so

# Ignore the vscode config.
.vscode

# Ignore the execute files.
*_sac

# Ignore testing data
test
